%p
  %b Region:
  = @location.try(:region).try(:name)

- if @location
  = link_to 'Edit Location', edit_location_path
- else
  = link_to 'Add Location', new_location_path

\|
= link_to 'Go to Dashbaord', dashboard_path
